.service-card {
	margin-bottom: 5px;
	display: flex;
	max-width: 276px;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
	align-self: stretch;
	text-align: center;
	font-family: 'Roboto Slab';
	position: relative;
	&__image {
		transform: translate(-50%);
		width: 120px;
		height: 120px;
		object-fit: cover;
		position: absolute;
	}
	&__title {
		padding-top: 130px;
		color: var(--others-text);
		font-size: var(--text-fs-m);
		font-weight: 400;
	}
	&__text {
		margin: 8px 0;
		color: var(--others-text);
		font-size: var(--text-fs-s);
		font-weight: 300;
	}
	&__link {
		color: var(--colors-1);
		font-size: var(--text-fs-s);
		font-weight: 300;
		padding: 4px;
		border-bottom: 1px dashed #119fc3;
	}
}
