.scroll-to-top-button {
	.scroll-to-top-btn {
		z-index: 10;
		width: fit-content;
		height: fit-content;
		position: fixed;
		bottom: 20px;
		right: 20px;
		color: #fff;
		cursor: pointer;
		display: none;
	}

	.scroll-to-top-btn:hover {
	}

	.scroll-to-top-btn.show {
		display: block;
	}
}
