@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
	--text-fs-xs: 0.5vw;
	--text-fs-s: 1vw;
	--text-fs-m: 2vw;
	--text-fs-l: 3vw;

	--text-n-fs-xs: 0.5vw;
	--text-n-fs-s: 1vw;
	--text-n-fs-m: 2vw;
	--text-n-fs-l: 3vw;
}
@media (max-width: 480px) {
	:root {
		--text-fs-xs: 8px;
		--text-fs-s: 16px;
		--text-fs-m: 24px;
		--text-fs-l: 32px;
	}
}
